<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{nameAction}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{bodyModal}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                <button type="submit" *ngIf="!isDeleteUser && !isDeleteDay" class="btn btn-success" data-bs-dismiss="modal">Potwierdź</button>
                <button class="btn btn-success" *ngIf="isDeleteUser" (click)="deleteUser(userId)" data-bs-dismiss="modal">Potwierdź</button>
                <button class="btn btn-success" *ngIf="isDeleteDay" (click)="deleteDay(dayId)" data-bs-dismiss="modal">Potwierdź</button>
            </div>
        </div>
    </div>
</div>
