<main>
  <div class="d-flex align-items-center">
    <div>
      <h1 class="mb-5">Witaj na <span class="text-primary">MediBooker!</span></h1>
      <p>Przedstawiwamy innowacyjny system, który umożliwia szybką i wygodną rejestrację wizyty u lekarza, bez potrzeby wychodzenia z domu!</p>
      <p>Nasza platforma zapewnia wygodę i oszczędność czasu, eliminując konieczność dzwonienia i czekania w kolejce! Teraz możesz samodzielnie wybrać dogodny termin wizyty z czytelnego kalendarza, dostępnego online 24/7. Niezależnie od godziny czy dnia tygodnia, masz pełną kontrolę nad rezerwacją terminu.</p>
      <p>Dołącz do naszej społeczności i ciesz się łatwością rezerwacji wizyt u lekarza z wygodą i bezpieczeństwem. Nie trać cennego czasu na oczekiwanie w przychodniach - umów się na wizytę online już teraz i skorzystaj z naszego nowoczesnego rozwiązania medycznego.</p>
      <a routerLink="/calendar" class="btn btn-outline-primary"><i class="bi bi-calendar3"></i> Przejdź do kalendarza</a>
    </div>
    <div class="align-self-center">
      <img src="../../../assets/Stethoscope.png" alt="Stetoskop">
    </div>
  </div>


</main>
